@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Evolve;
    src: url("~assets/fonts/Evolve-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: Evolve;
    font-style: italic;
    src: url("~assets/fonts/Evolve-Regular-EVO.otf") format("opentype");
  }
  @font-face {
    font-family: Evolve;
    font-weight: bold;
    src: url("~assets/fonts/Evolve-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: Evolve;
    font-weight: bold;
    font-style: italic;
    src: url("~assets/fonts/Evolve-Medium-EVO.otf") format("opentype");
  }
  @font-face {
    font-family: Evolve;
    font-weight: 50;
    src: url("~assets/fonts/Evolve-Thin.otf") format("opentype");
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center text-center;
  }
  .title {
    font-family: Evolve, sans-serif;
    font-style: italic;
    font-weight: bold;
  }
  .subtitle {
    font-family: Evolve, sans-serif;
    font-weight: 50;
  }
}
